<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/youdeservebettertoday
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            student
        </property>
        <property name="connection.password">
            student
        </property>
        <mapping resource="Users.hbm.xml" />
        <mapping class="com.nancyadam.ydbt.entity.User" />
        <mapping resource="Books.hbm.xml" />
        <mapping class="com.nancyadam.ydbt.entity.Book" />

    </session-factory>

</hibernate-configuration>