.navbar-default  {
    background-color: #b26394;
    border-top: 1px ridge;
    border-right: 1px ridge;
    border-left: 1px ridge;
    border-bottom: 2px ridge;
    border-top-color: black;
    border-right-color: darkorange;
    border-left-color: darkorange;
    border-bottom-color: darkorange;
}
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #060505;
}
.navbar-default .navbar-text {
    color: #fffcd0;
}
.navbar-default .navbar-nav > li > a {
    color: #fffcd0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #060505;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f6f92f;
    background-color: #060505;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #f6f92f;
    background-color: #060505;
}
.navbar-default .navbar-toggle {
    border-color: #f6f92f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f6f92f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fffcd0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #fffcd0;
}
.navbar-default .navbar-link {
    color: #fffcd0;
}
.navbar-default .navbar-link:hover {
    color: #060505;
}

.fancy-title {
    color: #b26394;
}

.body {
    padding-top: 25px;
}

.h1, .h2, .h3, .h4 {
    color: #613e73;
}

.row.no-pad.img-responsive{
    margin-right:0px;
    margin-left:20px;
    margin-top: 35px;
    border:none;
    background_color: lightgrey;
}

